
<div class="page-header">
  <h2>{{dispNameFilter(builtinProfile)}}</h2>
  <p ng-show="isSystem()">沿用系统或其他程序管理的代理设置。</p>
  <p ng-show="!isSystem()">不经过代理，直接访问网站。</p>
</div>
<section class="settings-group builtin-settings">
  <h3>模式设置</h3>
  <form name="builtinSettingsForm" novalidate>
    <div class="form-group">
      <label for="builtin-display-name">显示名称</label>
      <div class="builtin-name-field">
        <input id="builtin-display-name" name="displayName" type="text" required maxlength="32"
               ng-model="builtinProfile.displayName" ng-change="updateBuiltinName()" class="form-control">
        <button type="button" ng-click="resetBuiltinName()" class="btn btn-default">恢复默认</button>
      </div>
      <p class="help-block">名称会同步显示在侧栏、弹窗和规则列表中。</p>
    </div>
    <div class="builtin-color-field">
      <div><label>模式颜色</label><p class="help-block">用于区分不同模式。</p></div>
      <omega-color-picker ng-model="builtinProfile.color" ng-change="updateBuiltinColor()"></omega-color-picker>
    </div>
  </form>
</section>
