
<div ng-controller="RuleListProfileCtrl">
  <section class="settings-group">
    <h3>{{'options_group_ruleListConfig' | tr}}</h3>
    <div class="form-group">
      <label>{{'options_ruleListMatchProfile' | tr}}</label> 
      <div omega-profile-select="options | profiles:profile" ng-model="profile.matchProfileName" disp-name="dispNameFilter" options="options" style="display: inline-block;"></div>
    </div>
    <div class="form-group">
      <label>{{'options_ruleListDefaultProfile' | tr}}</label> 
      <div omega-profile-select="options | profiles:profile" ng-model="profile.defaultProfileName" disp-name="dispNameFilter" options="options" style="display: inline-block;"></div>
    </div>
    <form class="form-group">
      <label>{{'options_ruleListFormat' | tr}}</label>
      <div ng-repeat="format in ruleListFormats" class="radio inline-form-control no-min-width">
        <label>
          <input type="radio" name="formatInput" value="{{format}}" ng-model="profile.format"/>{{'ruleListFormat_' + format | tr}}
        </label>
      </div>
    </form>
  </section>
  <section class="settings-group">
    <h3>{{'options_group_ruleListUrl' | tr}}</h3>
    <div input-group-clear="input-group-clear" type="url" model="profile.sourceUrl" ng-if="profile" class="width-limit"></div>
    <p class="help-block">{{'options_ruleListUrlHelp' | tr}}</p>
  </section>
  <section class="settings-group">
    <h3>{{'options_group_ruleListText' | tr}}</h3>
    <p>
      <button ng-disabled="!profile.sourceUrl" ng-click="updateProfile(profile.name)" ladda="updatingProfile[profile.name]" data-spinner-color="#000000" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> {{'options_downloadProfileNow' | tr}}</button>
    </p>
    <div class="rule-list-toolbar rule-list-search-toolbar">
      <label class="rule-list-search-field">
        <span>{{'options_ruleListSearch' | tr}}</span>
        <input type="search" class="form-control input-sm" ng-model="ruleListSearch" ng-change="updateRuleListMatchCount()">
      </label>
      <label class="rule-list-search-field">
        <span>{{'options_ruleListReplace' | tr}}</span>
        <input type="text" class="form-control input-sm" ng-model="ruleListReplace">
      </label>
      <button type="button" class="btn btn-default btn-sm" ng-click="replaceRuleListText()" ng-disabled="!ruleListSearch || !ruleListMatchCount">
        {{'options_ruleListReplaceAll' | tr}} <span ng-if="ruleListMatchCount">({{ruleListMatchCount}})</span>
      </button>
    </div>
    <div class="rule-list-toolbar">
      <span class="rule-list-stats">
        {{ruleListStats().lines}} {{'options_ruleListLines' | tr}} · {{ruleListStats().chars}} {{'options_ruleListChars' | tr}}
      </span>
      <div class="rule-list-actions">
        <input id="rule-list-file" class="omega-file-input" type="file"
               accept=".txt,.sorl,.ssrl,text/plain"
               omega-upload="importRuleList($content)"
               omega-error="ruleListImportError($error)"/>
        <button type="button" class="btn btn-default btn-sm" ng-click="triggerRuleListImport()">
          <span class="glyphicon glyphicon-import"></span> {{'options_ruleListImport' | tr}}
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="validateRuleList()">
          <span class="glyphicon glyphicon-ok-circle"></span> {{'options_ruleListValidate' | tr}}
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="copyRuleList()" ng-disabled="!profile.ruleList">
          <span class="glyphicon glyphicon-copy"></span> {{'options_ruleListCopy' | tr}}
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="downloadRuleList()" ng-disabled="!profile.ruleList">
          <span class="glyphicon glyphicon-download-alt"></span> {{'options_ruleListDownload' | tr}}
        </button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="clearRuleList()" ng-disabled="!!profile.sourceUrl || !profile.ruleList">
          <span class="glyphicon glyphicon-trash"></span> {{'options_ruleListClear' | tr}}
        </button>
      </div>
    </div>
    <textarea ng-model="profile.ruleList" ng-change="queueRuleListValidation()" rows="20" ng-readonly="!!profile.sourceUrl" class="monospace form-control width-limit"></textarea>
    <p class="rule-list-feedback" ng-if="ruleListFeedback" aria-live="polite">{{ruleListFeedback}}</p>
    <p class="rule-list-validation" ng-class="{'rule-list-valid': ruleListValidation.valid, 'rule-list-invalid': ruleListValidation.valid === false}" ng-if="ruleListValidation" aria-live="polite">{{ruleListValidation.message}}</p>
    <section class="rule-tester">
      <h4>{{'options_ruleTesterTitle' | tr}}</h4>
      <div class="rule-tester-form">
        <input type="url" class="form-control" ng-model="ruleTester.url" placeholder="{{'options_ruleTesterPlaceholder' | tr}}">
        <button type="button" class="btn btn-primary btn-sm" ng-click="testRuleList()" ng-disabled="!ruleTester.url">{{'options_ruleTesterRun' | tr}}</button>
      </div>
      <p class="rule-tester-result" ng-if="ruleTestResult" ng-class="{'rule-list-valid': ruleTestResult.matched, 'rule-list-invalid': !ruleTestResult.matched}" aria-live="polite">{{ruleTestResult.message}}</p>
    </section>
  </section>
</div>