
<div class="page-header">
  <div class="profile-actions">
    <button ng-click="runAction(renameProfile(profile.name))" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> {{'options_renameProfile' | tr}}
    </button> 
    <button ng-click="runAction(deleteProfile(profile.name))" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> {{'options_deleteProfile' | tr}}
    </button>
  </div><span class="profile-color-editor">
    <omega-color-picker ng-model="profile.color"></omega-color-picker></span>
  <h2 class="profile-name">{{'options_profileTabPrefix' | tr}}{{profile.name}}</h2>
</div>
<div ng-include="profileTemplate"></div>
