
<div ng-controller="SwitchProfileCtrl">
  <section class="settings-group">
    <h3>{{'options_group_switchRules' | tr}} 
      <button ng-click="runAction(toggleSource())" ng-class="editSource ? &quot;btn-primary active&quot; : &quot;btn-default&quot;" class="btn"><span class="glyphicon glyphicon-edit"></span> {{'options_profileEditSource' | tr}}
      </button>
    </h3>
    <div ng-show="source.error" class="alert alert-danger width-limit"><span class="glyphicon glyphicon-remove"></span> {{source.error.message}}
    </div>
    <div ng-show="!!hasUrlConditions" class="alert alert-danger"><span class="glyphicon glyphicon-alert"></span> <span ng-bind-html="&quot;condition_alert_fullUrlLimitation&quot; | tr"></span>
    </div>
    <div ng-show="editSource" class="rules-source">
      <textarea ng-model="source.code" rows="20" ng-change="source.touched = true; $root.optionsDirty = true" class="monospace form-control width-limit"></textarea>
    </div>
    <div ng-if="loadRules" ng-show="!editSource" class="table-responsive switch-rules-wrapper">
      <table class="switch-rules table table-bordered table-condensed width-limit-xl">
        <thead>
          <tr>
            <th style="white-space: nowrap">{{'options_sort' | tr}}</th>
            <th class="condition-type-th">{{'options_conditionType' | tr}} 
            </th>
            <th>{{'options_conditionDetails' | tr}}</th>
            <th>{{'options_resultProfile' | tr}}</th>
            <th>{{'options_conditionActions' | tr}}</th>
            <th ng-if="showNotes">{{'options_ruleNote' | tr}}</th>
          </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="profile.rules">
          <tr ng-repeat="rule in profile.rules" class="switch-rule-row">
            <td class="sort-bar">
              <span class="glyphicon glyphicon-sort"></span>
            </td>
            <td ng-class="{&quot;has-icon&quot;: isUrlConditionType[rule.condition.conditionType]}">
              <select ng-model="rule.condition.conditionType" ng-options="type.type as (&quot;condition_&quot; + type.type | tr) group by (type.group | tr) for type in conditionTypes" class="form-control"></select><a ng-href="{{&quot;condition_alert_fullUrlLimitationLink&quot; | tr}}" target="_blank" ng-if="isUrlConditionType[rule.condition.conditionType]" class="icon-wrapper"><span class="glyphicon glyphicon-alert text-danger"></span></a>
            </td>
            <td ng-switch="rule.condition.conditionType" ng-class="{&quot;has-warning&quot;: conditionHasWarning(rule.condition)}"><span ng-switch-when="FalseCondition"><span ng-show="!!rule.condition.pattern">
                  <input ng-model="rule.condition.pattern" disabled="disabled" title="{{'condition_details_FalseCondition' | tr}}" class="form-control"/></span><span ng-show="!rule.condition.pattern">{{'condition_details_FalseCondition' | tr}}</span></span><span ng-switch-when="HostLevelsCondition" class="host-levels-details">
                <input type="number" min="1" max="99" ng-model="rule.condition.minValue" required="required" class="form-control"/> <span>{{'options_hostLevelsBetween' | tr}}</span> 
                <input type="number" max="99" min="1" ng-model="rule.condition.maxValue" required="required" class="form-control"/></span><span ng-switch-when="IpCondition">
                <input type="text" ng-model="rule.condition" required="required" omega-ip2str="omega-ip2str" placeholder="127.0.0.1/8" ui-validate="{pattern: &quot;validateIpCondition(rule.condition, $value)&quot;}" class="form-control"/></span><span ng-switch-when="TimeCondition" class="host-levels-details">
                <input type="number" min="0" max="23" ng-model="rule.condition.startHour" required="required" class="form-control"/> <span>{{'options_hourBetween' | tr}}</span> 
                <input type="number" min="0" max="23" ng-model="rule.condition.endHour" required="required" class="form-control"/></span><span ng-switch-when="WeekdayCondition" class="host-levels-details">
                <label ng-repeat="selected in getWeekdayList(rule.condition) track by $index" class="checkbox-inline">
                  <input type="checkbox" ng-model="selected" ng-change="updateDay(rule.condition, $index, selected)"/>{{&quot;options_weekDayShort_&quot; + $index | tr}} 
                </label></span>
              <input ng-model="rule.condition.pattern" ng-switch-default="ng-switch-default" required="required" ui-validate="{pattern: &quot;validateCondition(rule.condition, $value)&quot;}" class="form-control"/>
            </td>
            <td class="switch-rule-row-target">
              <div omega-profile-select="options | profiles:profile" ng-model="rule.profileName" disp-name="dispNameFilter" options="options" ng-class="{disabled: rule.condition.conditionType == &quot;NeverCondition&quot;}"></div>
            </td>
            <td>
              <button title="{{'options_deleteRule' | tr}}" ng-click="runAction(removeRule($index))" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
              <div class="rule-more" dropdown>
                <button type="button" dropdown-toggle class="btn btn-default btn-sm dropdown-toggle" aria-label="规则更多操作">更多 <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><button type="button" role="menuitem" ng-click="cloneRule($index)">{{'options_cloneRule' | tr}}</button></li>
                  <li ng-if="!showNotes"><button type="button" role="menuitem" ng-click="addNote($index)">{{'options_ruleNote' | tr}}</button></li>
                </ul>
              </div>
            </td>
            <td ng-if="showNotes">
              <input ng-model="rule.note" class="form-control"/>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td style="border-right: none;"></td>
            <td style="border-left: none;" colspan="4" ng-attr-colspan="{{showNotes ? 5 : 4}}">
              <button ng-click="addRule()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> <span>{{'options_addCondition' | tr}}</span>
              </button>
            </td>
          </tr>
        </tbody>
        <tbody ng-if="attached" class="switch-attached">
          <tr>
            <td style="border-right: none;"><span class="glyphicon {{profileIcons[&quot;RuleListProfile&quot;]}}"></span></td>
            <td style="border-left: none;"><span class="checkbox">
                <label>
                  <input type="checkbox" ng-model="attachedOptions.enabled"/>{{'options_switchAttachedProfileInCondition' | tr}}
                </label></span></td>
            <td><span ng-show="!!attachedOptions.enabled">{{'options_switchAttachedProfileInConditionDetails' | tr}}</span><span ng-show="!attachedOptions.enabled">{{'options_switchAttachedProfileInConditionDisabled' | tr}}</span></td>
            <td>
              <div omega-profile-select="options | profiles:profile" ng-model="attached.matchProfileName" disp-name="dispNameFilter" options="options" ng-class="{disabled: !attachedOptions.enabled}"></div>
            </td>
            <td>
              <button title="{{'options_deleteAttached' | tr}}" ng-click="runAction(removeAttached())" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
            <td ng-if="showNotes"></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="switch-default-row">
            <td></td>
            <td colspan="2">{{'options_switchDefaultProfile' | tr}}</td>
            <td>
              <div omega-profile-select="options | profiles:profile" ng-model="attachedOptions.defaultProfileName" disp-name="dispNameFilter" options="options"></div>
            </td>
            <td></td>
            <td ng-if="showNotes"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section ng-if="!attached" class="settings-group">
    <h3>{{'options_group_attachProfile' | tr}}</h3>
    <p class="help-block">{{'options_attachProfileHelp' | tr}}</p>
    <button ng-click="attachNew()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> {{'options_attachProfile' | tr}}
    </button>
  </section>
  <omega-rule-list-editor ng-if="attached" hide-targets="true" profile="attached" options="options" disp-name-filter="dispNameFilter"
    update="$root.updateProfile(name)" updating="updatingProfile[attached.name]" update-state="ruleListUpdateState[attached.name]"></omega-rule-list-editor>
</div>
